<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Text Decompression</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/own.css" th:href="@{/css/own.css}">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Text Compression</a></li>
        <li class="nav-item active"><a class="nav-link" href="text_decompression.html">Text Decompression</a></li>
        <li class="nav-item"><a class="nav-link" href="file_compression.html">File Compression</a></li>
        <li class="nav-item"><a class="nav-link" href="file_decompression.html">File Decompression</a></li>
    </ul>
</nav>
<form th:action="@{/text_decompression.html}" method="post" th:object="${huffmanTextDecodingForm}">
    <div class="container">
        <div class="row top">
            <label>Tekst:</label>
            <textarea class="full-text-area"
                      th:field="*{inputText}" th:rows="10"/>
            <br/><br/>
            <input type="submit" ajax="false" th:value="Dekompresuj"/>
        </div>
        <div class="row">
            <div class="col-6 close-left">
                <label>Model źródła:</label>
                <textarea class="half-text-area" th:text="*{inputModelView}"
                          readonly="true"
                          rows="20"/>
            </div>
            <div class="col-6 close-right">
                <label>Tabela kodowania:</label>
                <textarea class="half-text-area" th:text="*{codingTable}"
                          readonly="true"
                          rows="20"/>
            </div>
        </div>
        <div class="row">
            <label>Odbudowane drzewo Huffmana:</label>
            <br/>
            <img style="width: 100%" th:src="*{'data:image/png;base64,'+treeGraph}" alt="Tree Graph">
        </div>
        <div class="row bottom">
            <label>Zdekompresowany tekst:</label>
            <textarea style="width: 100%; height: auto; font-size: 12px" th:text="*{outputText}" readonly="true"
                      rows="10"/>
        </div>
    </div>
</form>
<footer class="navbar fixed-bottom navbar-dark bg-dark footer-dark">
    <div>© 2020 Copyright:
        <a href="https://github.com/HarryPiotr"> Piotr Anuśkiewicz</a>, I7G2S1, Wojskowa Akademia Techniczna
    </div>
</footer>
</body>
</html>