<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Text Compression</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/own.css" th:href="@{/css/own.css}">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="active"><a class="nav-link" href="/">Text Compression</a></li>
        <li><a class="nav-link" href="text_decompression.html">Text Decompression</a></li>
        <li><a class="nav-link" href="file_compression.html">File Compression</a></li>
        <li><a class="nav-link" href="file_decompression.html">File Decompression</a></li>
    </ul>
</nav>
<form th:action="@{/text_compression}" method="post" th:object="${form}">
    <div class="container" style="margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px">
        <div class="row">
            <label>Tekst:</label>
            <textarea id="compressTextArea" class="form-control" th:field="*{inputText}" rows="5"
                      onkeyup="updateForm()"></textarea>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Długość słowa:</label>
                <div class="radio">
                    <label><input id="op1" type="radio" name="l" value="0" th:field="*{wordLength}">
                        Automatyczna</label>
                </div>
                <div class="radio">
                    <label><input id="op2" type="radio" name="l" value="1" th:field="*{wordLength}"> 1 znak</label>
                </div>
                <div class="radio">
                    <label><input id="op3" type="radio" name="l" value="2" th:field="*{wordLength}"> 2 znaki</label>
                </div>
                <div class="radio">
                    <label><input id="op4" type="radio" name="l" value="3" th:field="*{wordLength}"> 3 znaki</label>
                </div>
                <div class="radio">
                    <label><input id="op5" type="radio" name="l" value="4" th:field="*{wordLength}"> 4 znaki</label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <button id="sub-btn" class="btn btn-outline-secondary" type="submit">Kompresuj</button>
        </div>
        <div class="row border border-secondary rounded-sm">
            <th:block th:each="user : *{entropyReport}">
                <div class="col-12">
                    <span th:text="${user}"></span>
                </div>
            </th:block>
        </div>
        <script>
            function updateForm() {
                var l = document.getElementById('compressTextArea').value.length;
                if (l >= 4) {
                    document.getElementById('op1').disabled = false;
                    document.getElementById('op2').disabled = false;
                    document.getElementById('op3').disabled = false;
                    document.getElementById('op4').disabled = false;
                    document.getElementById('op5').disabled = false;
                    document.getElementById('sub-btn').disabled = false;
                } else if (l == 3) {
                    document.getElementById('op1').disabled = false;
                    document.getElementById('op2').disabled = false;
                    document.getElementById('op3').disabled = false;
                    document.getElementById('op4').disabled = false;
                    document.getElementById('op5').disabled = true;
                    document.getElementById('sub-btn').disabled = false;
                } else if (l == 2) {
                    document.getElementById('op1').disabled = false;
                    document.getElementById('op2').disabled = false;
                    document.getElementById('op3').disabled = false;
                    document.getElementById('op4').disabled = true;
                    document.getElementById('op5').disabled = true;
                    document.getElementById('sub-btn').disabled = false;
                } else if (l == 1) {
                    document.getElementById('op1').disabled = false;
                    document.getElementById('op2').disabled = false;
                    document.getElementById('op3').disabled = true;
                    document.getElementById('op4').disabled = true;
                    document.getElementById('op5').disabled = true;
                    document.getElementById('sub-btn').disabled = false;
                } else {
                    document.getElementById('op1').disabled = true;
                    document.getElementById('op2').disabled = true;
                    document.getElementById('op3').disabled = true;
                    document.getElementById('op4').disabled = true;
                    document.getElementById('op5').disabled = true;
                    document.getElementById('sub-btn').disabled = true;
                }
            }
        </script>
        <div class="row">
            <div class="col-6 close-left">
                <label>Model źródła danych:</label>
                <textarea class="form-control half-text-area" th:text="*{inputModel}"
                          readonly="true"
                          rows="20"/>
            </div>
            <div class="col-6 close-right">
                <label>Tabela kodowania:</label>
                <textarea class="form-control half-text-area" th:text="*{codingTable}"
                          readonly="true"
                          rows="20"/>
            </div>
        </div>
        <div class="row">
            <label>Drzewo Huffmana:</label>
            <br/>
            <img style="width: 100%" th:src="*{'data:image/png;base64,'+treeGraph}" alt="Tree Graph">
        </div>
        <div class="row">
            <label>Tekst po kompresji (<span th:text="*{compressedText.length()}"/> znaków):</label>
        </div>
        <div class="row input-group">
            <textarea id="compressedTextArea" class="form-control full-text-area small" th:text="*{compressedText}" readonly="true"
                      rows="10"/>
            <button class="input-group-addon btn btn-outline-secondary" onclick="copyText()">Kopiuj do schowka</button>
        </div>
        <div class="row">

        </div>
        <script>
            function copyText() {
                var ta = document.getElementById("compressedTextArea");
                ta.select();
                document.execCommand("copy");
            }
        </script>
        <div class="row">
            <label>Współczynnik kompresji: <b><span th:text="*{compressionRatio}"/></b></label>
        </div>
    </div>
</form>
<footer class="navbar fixed-bottom navbar-dark bg-dark footer-dark">
    <div>© 2020 Copyright:
        <a href="https://github.com/HarryPiotr"> Piotr Anuśkiewicz</a>, I7G2S1, Wojskowa Akademia Techniczna
    </div>
</footer>
</body>
</html>